/* styles.css */
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}  
  
h1 {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.65em;
    margin-bottom: 0.5rem;
    color: rgb(22, 22, 22);
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.45rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: 0.1rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75em;
    margin-bottom: 1rem;
    color: rgb(22, 22, 22);
}

.tooltip p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.25em;
    margin-bottom: 0rem;
    color: rgb(22, 22, 22);
}

main {
    max-width: 1000px;
    margin: 2rem auto 0px auto;
    padding-left: 1rem;
    padding-right: 1rem;   
    align-items: center;
}

section {
    padding-bottom: 3rem;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.content-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 550px;
    align-items: center;
}

.content-container-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 550px;
    align-items: left;
}

.svg-wrapper,
.text-wrapper {
    flex: 1 1 0;
    display: block;
    justify-content: center;
    align-items: center;
}

.text-wrapper {
    max-width: 550px;
    text-align: left;
}

.chart-title p {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    dominant-baseline: middle;
    fill: #222222;
    margin-bottom: 0.2rem;
}

.annotation {
    font-size: 1.7rem;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 500;
    dominant-baseline: middle;
    fill: #222222;
    margin-bottom: 0.2rem;
}

.axis-label {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    dominant-baseline: middle;
    fill: #222222;
}

.value-label {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    dominant-baseline: middle;
    fill: #222222;
}

.chart-container {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
}